.sub_header{
    
    position: relative;
}

.aboutus{
    .header-title{
        .white-text_,.title, h1{
            margin: 0;
            text-align: center;
            padding: 15px 0;
        }
        .Breadcrumb{
            text-align: center;
            ion-icon{
                font-size: 16px;
                margin: 3px 5px -3px 0;
            }
        }
    }
}

.is_transparent_null{
    height: 150px;
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // position: absolute;
        // width: 100%;
        // top: 45%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}

.is_transparent{
    height: 200px;
    .header-title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // position: absolute;
        // top: 55%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
}


