.gallery_box{
    // padding: 20px 2px 20px 2px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
}
.flex-20{
    flex: 0 0 calc(20% - 12px);
}
// .cover_image{
//     img{
//         height: 100px;
//     }
// }