.relative {
  position: relative !important;
}

.mtb15 {
  margin-top: 15px;
  margin-bottom: 0;
}

.counters_6 {
  margin: 15px auto;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
     height: 150px;
     background-color: var(--primary-color);
  ion-icon{
  	 align-self: flex-start;
  }
}

@media screen and (max-width:768px) {
  .counters_6 {
    width: 90%;
    height: 570px;
  }
  .box--list{
    flex:0 0 50% !important;
  }

  .container_bg{
    padding: 0;
    justify-content:space-between;
    flex-wrap:wrap;
    flex-direction:initial;
    position: absolute;
    top: 0;
    gap: 10px;
    .counter--list{
      width: auto;
      flex: 0 0 50%;
      padding: 10px;
      position: relative;
      .count_value{
        font-size: 40px !important; 
      }
      ion-icon{
        float: right;
    top: 5px;
    position: absolute;
    right: 15px;
      }
    }
  }
}
.count_one_value{
  color: var(--primary-color);
}
.counter_icon{
  font-size: 40px;
}
.highlight{
  color: var(--primary-color);
}
.box_radius{
  border-radius: 20px;
}