@media screen and (min-width: 768px) {
    .mobile__{
        overflow: auto;
        width: 95%;
        margin: 0 auto;
        .category__box{
            gap: 15px;
            padding: 10px 0 0px 0;
        }   
 } 
}

.mobile__{
    .box_category{

    }

    .category__box{
        overflow: auto;
        .sub_c_box{
            margin: 3px;
            white-space: nowrap;
            border: 1px solid var(--border);
            // background: #e3e3e366;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 15px;
         
           .sub_c{
               font-size: 14px;
               font-weight: 500;
              }
           }
       
    }

}


.active-subcategory{
    background: var(--primary-bg) !important;
    .sub_c{
       color: var(--secondary-bg);
       }
}



.box______{
    position: relative;
}

.back-s,
.next-s {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 61%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  ion-icon {
    background-color: #fff;
    color:rgba(0, 0, 0, 0.6); 
    padding: 5px;
    font-size: 18px;
    border: 1px solid var(--border);
    // box-shadow: 0px 0px 5px  rgb(0 0 0 / 18%);
    border-radius: 50%;
  }
}


.back-s {
  left: 3px;
}

.next-s {
  right: 3px;
}


.con_one::-webkit-scrollbar{
    width: 0;
    display: none;
}


::-webkit-scrollbar{
    width: 0;
    display: none;
}
  