.grid{
    gap: 25px;
    
  
    .grid-4{
        flex: 0 0 calc(25% - 19px);
    }
  
    .grid-5{
        flex: 0 0 calc(20% - 20px);
    }
  
    .grid-3{
        flex: 0 0 calc(33.3333% - 17px);
    }
  
    .grid-2{
        flex: 0 0 calc(50% - 13px);
    }
    
    .grid-1{
        flex: 0 0 calc(100% - 10px);
        margin: auto;
    }
}
  

.not-scroll{
  flex-wrap: wrap;
}

.scroll{
    // flex-wrap: wrap !important;
    overflow: hidden;
    // gap: 9px;

    .grid-4{
        flex: 0 0 calc(25% - 12.5px);
    }
  
    .grid-5{
        flex: 0 0 calc(20% - 7.5px);
    }
  
    .grid-1-50{
        flex: 0 0 calc(72% - 5px) !important;
    }
  
  }

  .scroll,.grid{
    .image{
        height: 100%;
         img{
           height: 100%;
           width: 100%;
           object-fit: cover;
           border-radius: 5px;
         }
      }

      .height_null{
        max-height: unset !important;
      }
  }
  

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .image {
    height: 100%;
    min-height: 230px;
    max-height: 230px;
    overflow: hidden;
 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image {
    height: 100%;
    min-height: 230px;
    max-height: 230px;
    overflow: hidden;
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .image{
     min-height:360px;
     max-height: 360px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .image{
    min-height:360px;
    max-height: 360px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .image{
    min-height:380px;
    max-height: 380px;
  }
}
  

  
  ::-webkit-scrollbar{
    width: 0;
    display: none;
  }
  
  
  .back-s,
  .next-s {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  ion-icon {
    background-color: #fff;
    color:rgba(0, 0, 0, 0.6); 
    padding: 5px;
    font-size: 25px;
    box-shadow: 2px 4px 9px 1px rgb(0 0 0 / 18%);
    border-radius: 50%;
  }
  }
  
  
  .back-s {
  left: -10px;
  }
  
  .next-s {
  right: -10px;
  }
  

  .product__box{
    display: flex;
    // flex-wrap: wrap;
    position: relative;
    .product {
        // border: 1px solid var(--border);
        border-radius: 10px;
    }

}


// Grid_cover{

.grid_cover{
  .product{
    position: relative;
    .descriptions{
      position: absolute;
      width: 100%;
      bottom: 0px;
      padding: 0 10px 20px 10px;
      border-radius: 0 0 5px 5px;
      background: linear-gradient(0deg, rgb(0 0 0 / 70%), transparent);
       h4,p{
        color: #fff !important;
       }
    }
  }

}


// Description_null

.description_null{
  .product{

    @media only screen and (min-width: 768px) {
      .image{
        min-height:290px;
        max-height: 290px;
      }
   }

   @media only screen and (max-width: 768px) {
    .image{
      min-height:230px;
      max-height: 230px;
    }
   }


   .bogger_details{
     padding: 20px 0 0 0;

     .cat_name,.blogeer_name,.date{
        flex: 0 0 33.3333%;
     }

     .cat_name{
        
     }
     .blogeer_name{
       text-align: center;
     }
     .date{

     }
   }

   .descriptions{
    .button{

      span{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--primary-bg);
        margin: 10px 0;
        letter-spacing: 0.1em;
        line-height: 4.5em;
    
      }
   
    }
   }

  }

}


// with_blogger_bottom

.blogger{

  .product{
    box-shadow: 0 0 5px #ddd;


      @media only screen and (min-width: 768px) {
        .image{
          min-height:210px;
          max-height: 210px;
        }
     }
  
     @media only screen and (max-width: 768px) {
      .image{
        min-height:230px;
        max-height: 230px;
      }
     }

  }

  .bogger_details{
    padding: 15px 10px 0 10px;
  }

  .descriptions{
    padding: 0 10px;
  }

  .with_blogger_bottom{
    padding: 15px 0px;
    margin: 20px 0 0 0;
    border-top: 1px solid var(--border);
 
    .blog_box__1{
      flex: 0 0 55%;

      .prl_image{
        flex: 1;

   
        img{
          // height: 42px;
          // width: 42px;
          height: 20px;
          width: 40px;
          border-radius: 50%;
          transition:unset;
          transform:unset;
        }
      }
      .blogger_name{
        flex: 2.5;
        padding: 0 0 0 10px;
     
      }
    }
  
    .blog_box__2{
      flex: 1;
      display: flex;
      justify-content: end;
       .button{
        // text-align: end;
       }
    }
  
  }
}


.min_height{
  .descriptions {
    h4{
      min-height: 30px !important;
    }
}
}

.descriptions {
  margin: 15px 0 0 0;

  a{
    
  }
  h4{
    min-height: 58px;
  }

  h4:hover{
  text-decoration: underline;
  transition: 1s ease-out;
 }

 .sub__des{
  padding: 10px 0 0 0;
  min-height: 84px;
 }
}

// zoom effect

.zoom img {
  transition: transform .5s, filter 1.5s ease-in-out;
  border-radius: 5px;
  // filter: grayscale(100%);
}

/* The Transformation */
.zoom:hover img {
  // filter: grayscale(0);
  border-radius: 5px;
  transform: scale(1.2);
}


// brightness effect

.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  // transform: scale(1.3);
}


//rotate effect 

.img-hover-zoom--zoom-n-rotate img {
  transition: transform .5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(1) rotate(7deg);
}






