.about_button {
    background-color: var(--primary-color);
    margin-top: 20px;
    color: var(--white);
    border-radius: 5px;
    text-transform: none;
    height: 40px;
    font-size: 16px;
  }
  .default_clr{
    background-color: var(--primary-color);
  }