<div class="menu__content">
  <div class="inner__menu__content">
    <div
      *ngIf="db.website_settings && db.website_settings.theme_settings && db.website_settings.theme_settings.website_logo"
      slot="start" class="home__logo" routerLink="/">
      <img [src]="db.product_img(db.website_settings.theme_settings.website_logo)" alt="">
    </div>
    <div *ngFor="let data of this.menu">
      <div *ngIf="data.section_name == 'Header Menu' && data.section_type == 'Menu'">
        <div *ngFor="let item of data.menus;let i= index">
          <ion-item lines="none" (click)="click_menu(item,i)" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact :true}">
            <ion-icon slot="end" *ngIf="item.child_menu && item.child_menu.length != 0" name='chevron-forward-outline'>
            </ion-icon>
            <ion-label>{{item.menu_label}}</ion-label>
          </ion-item>
          <div *ngIf="item.child_menu && item.child_menu.length != 0 && item.show">
            <div *ngFor="let menu of item.child_menu;let j=index" (click)="click_menu(menu,j)">
              <ion-item class="pl15" lines="none" routerDirection="forward" routerLinkActive="active-item"
                [routerLinkActiveOptions]="{exact :true}">
                <ion-icon slot="end" *ngIf="menu.child_menu && menu.child_menu.length != 0"
                  [name]="menu.show ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
                <ion-label>{{menu.menu_label}}</ion-label>
              </ion-item>
              <ion-menu-toggle *ngIf="menu.child_menu && menu.child_menu.length != 0 && menu.show">
                <ion-item *ngFor="let childmenu of menu.child_menu" class="pl30" lines="none"
                  [routerLink]="childmenu.redirect_url" routerDirection="forward" routerLinkActive="active-item"
                  [routerLinkActiveOptions]="{exact :true}">
                  <ion-icon slot="end" *ngIf="childmenu.child_menu && childmenu.child_menu.length != 0"
                    [name]="childmenu.show ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
                  <ion-label>{{childmenu.menu_label}}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>