<div class="menu__content">
  <div class="inner__menu__content">
    <!-- <div class="d__flex user">
      <div><ion-icon class="menu-user" slot="start" name="person-circle-outline"></ion-icon></div>
      <div class="user-title">
        <p *ngIf="!db.cust_email">Hi,</p>
        <p *ngIf="db.cust_name || db.guest_cust_name" class="m-0">{{db.cust_name || db.guest_cust_name}}</p>
      </div>
    </div> -->
    <div
      *ngIf="db.website_settings && db.website_settings.theme_settings && db.website_settings.theme_settings.website_logo"
      slot="start" class="home__logo" routerLink="/">
      <img [src]="db.product_img(db.website_settings.theme_settings.website_logo)" alt="">
    </div>

    <div *ngFor="let data of this.menu">
      <div *ngIf="data.section_name == 'Header Menu' && data.section_type == 'Menu'">
        <div *ngFor="let item of data.menus;let i= index">
          <!-- <ion-menu-toggle [auto-hide]="false">  -->
            <!-- [routerLink]="item.redirect_url" routerDirection="forward" -->
            <ion-item lines="none" (click)="click_menu(item,i)" 
              routerLinkActive="active-item" [routerLinkActiveOptions]="{exact :true}">
              <ion-icon slot="end" *ngIf="item.child_menu && item.child_menu.length != 0"
                name='chevron-forward-outline'></ion-icon>
              <ion-label>{{item.menu_label}}</ion-label>
            </ion-item>
          <!-- </ion-menu-toggle> -->

          <div *ngIf="item.child_menu && item.child_menu.length != 0 && item.show" (click)="open_close(i,data.menus)">
            <!-- <ion-item lines="none" [routerLink]="item.redirect_url" routerDirection="forward"
              routerLinkActive="active-item" [routerLinkActiveOptions]="{exact :true}">
              <ion-icon slot="end" [name]="showmore1 ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
              <ion-label>{{item.menu_label}}</ion-label>
            </ion-item> -->
            <ion-menu-toggle *ngIf="item.child_menu && item.child_menu.length !=0 ">
              <ion-item class="pl15" lines="none" *ngFor="let menu of item.child_menu" [routerLink]="menu.redirect_url"
                routerDirection="forward" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact :true}">
                <ion-icon slot="end" *ngIf="menu.child_menu && menu.child_menu.length != 0" [name]="menu.show ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
                <ion-label>{{menu.menu_label}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <!-- </div> -->
          <!-- <ion-item *ngIf="item.title =='Policies'" lines="none" (click)="showmore1 = !showmore1;" routerDirection="forward" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact :true}">
            <ion-icon class="menu-icon" [src]="item.icon?item.icon:''"></ion-icon> 
            <ion-label>{{item.title}}</ion-label>
            <ion-icon *ngIf="db.ismobile && item.title =='Policies'" [name]="showmore1 ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
          </ion-item> -->
        </div>

        <!-- <div *ngIf="showmore1" class="policy">
          <ion-menu-toggle *ngFor="let item of policy" >  
            <ion-item *ngIf="item.enable == 1" lines="none" [routerLink]="item.route" routerDirection="forward" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact :true}">
              <ion-icon class="menu-icon" [src]="item.icon?item.icon:''"></ion-icon> 
              <ion-label>{{item.title}}</ion-label>
             
            </ion-item>
          </ion-menu-toggle>
        </div> -->


        <!--  -->
        <!-- <ion-menu-toggle>
          <ion-item *ngIf="db.cust_name || db.guest_cust_name" lines="none" (click)="db.logout()">
            <ion-icon class="menu-icon" src="/assets/icon/logout.svg"></ion-icon> 
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item *ngIf="!db.cust_name && !db.guest_cust_name" lines="none" (click)="db.registerform = false" routerLink="/register"  routerDirection="forward">
            <ion-icon class="menu-icon" src="/assets/icon/login.svg"></ion-icon> 
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
      </div>
    </div>
    <!-- <div class="d__flex just-end social__icons bottom-abs" *ngIf="db.footer_info.items" >
      <div class="ion-text-center" *ngFor="let data.items of db.footer_info.items">
        <div >
        <p class="m-0 fnt-13">Connect with us</p>
        <div class="d__flex just-end gap-10 p-10">
          <a *ngIf="db.website_settings.app_settings.facebook_link" href="{{db.website_settings.app_settings.facebook_link}}" target="blank"><ion-icon src="/assets/Footer-icons/facebook.svg" class="contact-icon d__flex"></ion-icon></a>
          <a *ngIf="db.website_settings.app_settings.instagram_link" href="{{db.website_settings.app_settings.instagram_link}}" target="blank"><ion-icon src="/assets/Footer-icons/Instagram.svg" class="contact-icon d__flex"></ion-icon></a>
          <a *ngIf="db.website_settings.app_settings.youtube_link" href="{{db.website_settings.app_settings.youtube_link}}" target="blank"><ion-icon src="/assets/Footer-icons/youtube.svg" class="contact-icon d__flex"></ion-icon></a>
          <a *ngIf="db.website_settings.app_settings.linked_in" href="{{db.website_settings.app_settings.linked_in}}" target="blank"><ion-icon src="/assets/Footer-icons/link.svg" class="contact-icon d__flex"></ion-icon></a>
          <a *ngIf="db.website_settings.app_settings.twitter_link" href="{{db.website_settings.app_settings.twitter_link}}" target="blank"><ion-icon src="/assets/Footer-icons/twitter.svg" class="contact-icon d__flex"></ion-icon></a>
          <a *ngIf="db.website_settings.app_settings.pinterest_link" href="{{db.website_settings.app_settings.pinterest_link}}" target="blank"><ion-icon src="/assets/Footer-icons/pinterest.svg" class="contact-icon d__flex"></ion-icon></a>
        </div>
      </div>
    </div></div> -->
  </div>
</div>