<div class="mobile-search-bar d__flex ">

  <!-- <div *ngIf="db.website_settings && db.website_settings.enable_zipcode == 1 && db.website_settings.enable_multi_vendor == 0" class="d__flex gap-5 mobile-location" routerLink="/location">
    <div> <ion-icon class="locat-icon" src="/assets/chops_daily/location.svg"></ion-icon></div>
    <div>
      <p class="m-0 fnt-12 webkit-text" [style.--line]="1" *ngIf="!db.location && !db.location_info.city">
        <ion-icon class="location-icon pad-r-5"src="/assets/chops_daily/location.svg"></ion-icon>
        Location <ion-icon name="chevron-down-outline"></ion-icon>
      </p>
      <p class="m-0 fnt-12 webkit-text" [style.--line]="1" *ngIf="db.location_info.city"> {{db.location_info.city}} 
        <ion-icon name="chevron-down-outline"></ion-icon>
      </p>
      <p class="m-0 fnt-10 location_txt webkit-text" [style.--line]="1" *ngIf="!db.location && !db.location_info.city">Choose current location </p>
      <p class="m-0 fnt-10 location_txt webkit-text" [style.--line]="1" *ngIf="db.location">{{db.location}} <ion-icon name="chevron-down-outline"></ion-icon></p>
      <p class="m-0 fnt-10 location_txt webkit-text" [style.--line]="1" *ngIf="db.area">{{db.area}} </p>
    </div>
  </div> -->

  <!-- <ion-input  placeholder="search product.." [disabled]="true" routerLink="/search">
    <ion-icon src="/assets/icon/search.svg" class="mobile-search"></ion-icon>
  </ion-input> -->


  <!-- <ion-icon  routerLink="/search" routerDirection="forward" class=" search-icon" slot="end" src="/assets/icon/search.svg"></ion-icon> -->
  
</div>