.flex_direction {
  flex-direction: column;
}
.feature_icon{
  font-size: 35px;
}
.line-h {
  line-height: 1.5;
}

.hover_title_ {
  margin-top: 15px;
  margin-bottom: 2px;
}

@media screen and (max-width:768px) {
  .feature_content_width {
    margin-bottom: 25px;
  }
}
.leftright_icon{
  font-size: 30px;
  padding-top: 12px;
}